.button {
    height: 5rem;
    padding: 0 1.6rem;
    font-weight: 600;
    background-color: #fff;
    border: .1rem solid var(--color-cyan);
    border-radius: .5rem;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-light-grey);
    color: white;
}

.button:active {
    color: #fff;
    background-color: var(--color-cyan);
}