html {
  height: 100%;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #282a36;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}


